Repository sophapojul/p12-sportsee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build: update build script to use react router with github pages
  package.json
Due: none

Updates
  404.html
  asset-manifest.json
  static/js/main.0b769608.js
  static/js/main.0b769608.js.LICENSE.txt
  static/js/main.0b769608.js.map
  static/js/main.11e2301f.js
  static/js/main.11e2301f.js.map
Due: none

fix(dashboard): fix case undefined data
  src/components/dashboard/index.tsx
Due: eslint --fix, prettier --write

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.0b769608.js
  static/js/main.0b769608.js.map
  static/js/main.8c13ae91.js
  static/js/main.8c13ae91.js.LICENSE.txt
  static/js/main.8c13ae91.js.map
Due: none

fix(router): set the basename of the router to point to the github pages public url
  src/routes/router.tsx
Due: eslint --fix, prettier --write

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.32e186b9.js
  static/js/main.32e186b9.js.LICENSE.txt
  static/js/main.32e186b9.js.map
  static/js/main.8c13ae91.js
  static/js/main.8c13ae91.js.map
Due: none

docs(Readme): add how set the local mocked data otherwise a server
  README.md
Due: none

style(dashboard): add clamp function to constrict font size value depending the size of viewport
  src/components/dashboard/Dashboard.module.scss
Due: prettier --write

Updates
  404.html
  asset-manifest.json
  index.html
  static/css/main.0cc84c6c.css
  static/css/main.0cc84c6c.css.map
  static/css/main.5064e205.css
  static/css/main.5064e205.css.map
Due: none

fix(averageSessions): the line of the line chart is no longer eroded in averageSessions component
  src/components/dashboard/averageSessions/index.tsx
Due: eslint --fix, prettier --write

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.32e186b9.js
  static/js/main.32e186b9.js.map
  static/js/main.5857b6e6.js
  static/js/main.5857b6e6.js.LICENSE.txt
  static/js/main.5857b6e6.js.map
Due: none

docs(dashboard): add missing useState types into the Dashboard component
  src/components/dashboard/index.tsx
  styleguide/asset-manifest.json
  styleguide/build/bundle.7edf8873.js
  styleguide/build/bundle.7edf8873.js.LICENSE.txt
  styleguide/build/bundle.af36cf34.js
  styleguide/index.html
  styleguide/static/css/main.ab8a8805.css
Due: eslint --fix, prettier --write

Updates
  static/js/main.5857b6e6.js.map
Due: none

refactor(home services): replace mockedData by mockData, better typo
  src/pages/home/index.tsx
  src/services/api.ts
  src/services/mockData.ts
Due: eslint --fix, prettier --write

docs(styleguide): update styleguide docs
  styleguide/asset-manifest.json
  styleguide/build/bundle.7edf8873.js
  styleguide/build/bundle.dcaa0902.js
  styleguide/build/bundle.dcaa0902.js.LICENSE.txt
  styleguide/index.html
Due: none

chore(server): update local server port number to 3000
  server/index.js
Due: none

refactor(score): type IScoreProps with IUserMainData['score'] | IUserMainData['todayScore'] types
  src/components/dashboard/score/index.tsx
Due: eslint --fix, prettier --write

chore(typedoc): add typedoc.json config file with entryPointStrategy expand to generate doc
  typedoc.json
Due: none

chore(package.json): add live-server to display docs
  package.json
Due: none

Updates
  404.html
  asset-manifest.json
  index.html
  static/js/main.5857b6e6.js
  static/js/main.5857b6e6.js.map
  static/js/main.c051de7c.js
  static/js/main.c051de7c.js.LICENSE.txt
  static/js/main.c051de7c.js.map
Due: none

Path conditions:
  eslint --fix: any of: ./src/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: ./src/**/*.{js,jsx,ts,tsx}) or (any of: ./src/**/*.{html,css,scss,md,json})
