Repository sophapojul/p12-sportsee: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add typedoc and eslint-plugin-tsdoc packages
  .eslintrc.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

refactor(data): add mocked data and their types in src folder
  src/data/mockData.ts
  src/types/UserTypes.ts
Due: eslint --fix, prettier --write

refactor(types): extract types from types in UserTypes
  src/types/UserTypes.ts
Due: eslint --fix, prettier --write

style(icons): add assets folder with icons
  src/assets/biking.svg
  src/assets/calories-icon.svg
  src/assets/carbs-icon.svg
  src/assets/fat-icon.svg
  src/assets/logo.png
  src/assets/logo.svg
  src/assets/protein-icon.svg
  src/assets/swimming.svg
  src/assets/weightlifting.svg
  src/assets/yoga.svg
Due: none

refactor(types): move types in types.d.ts file
  src/data/mockData.ts
  src/types.d.ts
Due: eslint --fix, prettier --write

refactor(data): move data into src/services folder
  src/services/mockData.ts
Due: eslint --fix, prettier --write

chore: set project name at p12-sportsee instead of p12-sportsee-cra
  package-lock.json
  package.json
Due: none

chore: update packages with npm-check
  package-lock.json
  package.json
Due: none

style: create scss base file containing base css settings
  src/styles/base/_base.scss
  src/styles/base/_index.scss
Due: prettier --write

style: add general scss style
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_index.scss
  src/styles/base/_typography.scss
  src/styles/index.scss
Due: prettier --write

feat(services): add api call and local mocking api
  .env
  src/services/api.ts
  src/services/mockedData.ts
  src/types.d.ts
Due: eslint --fix, prettier --write

feat(server): build a local server to mock api
  .eslintrc.json
  .gitignore
  server/data.js
  server/index.js
  server/models.js
  server/package-lock.json
  server/package.json
  tsconfig.json
Due: none

feat(routes): adding a router and a Root route
  package-lock.json
  package.json
  src/App.tsx
  src/index.tsx
  src/routes/Root.tsx
  src/routes/router.tsx
Due: eslint --fix, prettier --write

feat(pages & routes): add community, errorPage, home, profile, settings pages & corresponding routes
  src/pages/community/index.tsx
  src/pages/errorPage/index.tsx
  src/pages/home/Home.module.scss
  src/pages/home/index.tsx
  src/pages/profile/index.tsx
  src/pages/settings/index.tsx
  src/routes/router.tsx
  src/types.d.ts
Due: eslint --fix, prettier --write

feat(header navTop & routes): add header with navigation bar on the top and complete Root layout
  src/components/header/Header.module.scss
  src/components/header/index.tsx
  src/components/navTop/NavTop.module.scss
  src/components/navTop/index.tsx
  src/routes/Root.tsx
Due: eslint --fix, prettier --write

feat(dashboard sidebar routes): add a navigation bar on the left side of the Dashboard page
  src/components/dashboard/Dashboard.module.scss
  src/components/dashboard/index.tsx
  src/components/sidebar/SideBar.module.scss
  src/components/sidebar/copyright/Copyright.module.scss
  src/components/sidebar/copyright/index.tsx
  src/components/sidebar/index.jsx
  src/components/sidebar/navSide/NavSide.module.scss
  src/components/sidebar/navSide/index.tsx
  src/routes/router.tsx
Due: eslint --fix, prettier --write

chore(package.json): add recharts & prop-types
  package-lock.json
  package.json
Due: none

feat(user & dashboard): add user infos on the dashboard
  src/components/dashboard/Dashboard.module.scss
  src/components/dashboard/index.tsx
  src/components/dashboard/user/index.tsx
Due: eslint --fix, prettier --write

feat(dashboard & dailyActivity): add daily activity bar chart on the dashboard page
  src/components/dashboard/dailyActivity/index.tsx
  src/components/dashboard/index.tsx
Due: eslint --fix, prettier --write

feat(dashboard & averageSessions): add sessions average line chart on the dashboard page
  src/components/dashboard/averageSessions/index.tsx
  src/components/dashboard/index.tsx
  src/utils/numberDayToLetterDay.ts
Due: eslint --fix, prettier --write

feat(dashboard performance): add performance radar chart on the dashboard page
  src/components/dashboard/index.tsx
  src/components/dashboard/performance/index.tsx
Due: eslint --fix, prettier --write

feat(dashboard score): add score pie chart on the dashboard page
  src/components/dashboard/index.tsx
  src/components/dashboard/score/index.tsx
Due: eslint --fix, prettier --write

feat(dashboard svg): add key data cards on the dashboard page
  src/components/dashboard/index.tsx
  src/components/svg/Calories.tsx
  src/components/svg/Carbs.tsx
  src/components/svg/Fat.tsx
  src/components/svg/Protein.tsx
Due: eslint --fix, prettier --write

chore(models): add a data modeling class
  src/models/index.tsx
Due: eslint --fix, prettier --write

Delete package-lock.json
  package-lock.json
Due: none

Delete package-lock.json
  server/package-lock.json
Due: none

docs(styleguide): add React Styleguidist to generate React documentation
  .gitignore
  package.json
  styleguide/asset-manifest.json
  styleguide/build/bundle.a8174e15.js
  styleguide/build/bundle.a8174e15.js.LICENSE.txt
  styleguide/index.html
  styleguide/static/css/main.dfcb6300.css
  styleguide/static/media/biking.d516c0e89dbb3aaab23afac6a130ca06.svg
  styleguide/static/media/logo.837414860efdf652f26ae7be654e06c5.svg
  styleguide/static/media/swimming.e26dba434236828a108a786d8215cd31.svg
  styleguide/static/media/weightlifting.4fe7fb9fe3554121b3d42dcb489eefd0.svg
  styleguide/static/media/yoga.6c31a2775a609d06fd5d99eb347250ed.svg
Due: none

fix(server): change port number to avoid conflict with client application
  server/index.js
Due: none

docs(Readme): update the Readme
  README.md
  public/logo.svg
Due: none

fix(Readme): fix type error in the Readme
  README.md
Due: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo.svg
  manifest.json
  robots.txt
  static/css/main.c2ab1b88.css
  static/css/main.c2ab1b88.css.map
  static/js/main.816d429b.js
  static/js/main.816d429b.js.LICENSE.txt
  static/js/main.816d429b.js.map
  static/media/biking.d516c0e89dbb3aaab23afac6a130ca06.svg
  static/media/logo.837414860efdf652f26ae7be654e06c5.svg
  static/media/swimming.e26dba434236828a108a786d8215cd31.svg
  static/media/weightlifting.4fe7fb9fe3554121b3d42dcb489eefd0.svg
  static/media/yoga.6c31a2775a609d06fd5d99eb347250ed.svg
Due: none

fix: change port number(3030) to avoid conflict with server port number(3000)
  .env
Due: none

docs(Readme): update Readme with detailed information installation
  README.md
Due: none

docs(Readme): add badges into the Readme
  README.md
  package.json
Due: none

docs(dashboard): update dashboard doc
  styleguide/asset-manifest.json
  styleguide/build/bundle.a8174e15.js
  styleguide/build/bundle.af36cf34.js
  styleguide/build/bundle.af36cf34.js.LICENSE.txt
  styleguide/index.html
  styleguide/static/css/main.eab762b3.css
Due: none

style(dashboard): adaptation for 1024px screens
  src/components/dashboard/Dashboard.module.scss
  src/components/dashboard/averageSessions/index.tsx
  src/components/dashboard/dailyActivity/index.tsx
  src/components/dashboard/index.tsx
  src/components/dashboard/performance/index.tsx
  src/components/dashboard/score/index.tsx
  src/styles/base/_base.scss
Due: eslint --fix, prettier --write

docs(Readme): update node badge, airbnb logo and project presentation
  README.md
Due: none

ci: add gh-pages package to deploy the application on GitHub
  package.json
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.0cc84c6c.css
  static/css/main.0cc84c6c.css.map
  static/css/main.c2ab1b88.css
  static/css/main.c2ab1b88.css.map
  static/js/main.11e2301f.js
  static/js/main.11e2301f.js.LICENSE.txt
  static/js/main.11e2301f.js.map
  static/js/main.816d429b.js
  static/js/main.816d429b.js.map
Due: none

build: update .env to use local mocked data
  .env
Due: none

Path conditions:
  eslint --fix: any of: ./src/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: ./src/**/*.{js,jsx,ts,tsx}) or (any of: ./src/**/*.{html,css,scss,md,json})
